!!! 5
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Why the fuck you don't CoffeeScript?

        //- Check out 'src/bower_components/prism/' for available themes
        link(rel='stylesheet', type='text/css', href='bower_components/prism/prism-tomorrow.css')

        link(rel='stylesheet', type='text/css', href='styles/main.css')

    body

        article

            section

            section
                code.language-javascript
                    pre.
                        Array.prototype.slice.call(arguments, 0);

            section
                h2 Javascript is the only language that runs on browser and has some AMAZING features
                h3 It's one of the uglies languages as well

            section
                h2 How we can make JS better?
                h3 And preserve what's best in it

            section
                h2 ECMAScript Harmony
                h3 We have to wait for it...

            section
                h2 Get compiler!
                h3 It's faster that way
            
            section
                h2 Preserve JS awsomeness
                h2 Fix as much JS issues as possible
                h2 Be "cheap" to use

            section
                h2 CoffeeScript!

            section
                code.language-coffeescript
                    pre.
                        date = if friday then sue else jill

                        # Eat lunch.
                        eat = (what) -> "om nom noming \#{what}"
                        eat food for food in ['toast', 'cheese', 'wine']

                        class Animal
                            constructor: (@name) ->
                            move: (meters) -> 
                                alert @name + " moved \#{meters}m."

                        new Animal('dog').move 3

            section
                h2 Other languages confusion

                ul 
                    li Why I can't [...]
                    li Why do I need [...]

            section
                h2 CoffeeScript
                h2 "It's just JavaScript"

            section
                h2 &#10003; Preserve JS awsomeness
                h2 Fix as much JS issues as possible
                h2 Be "cheap" to use

            section
                h2 CoffeeScript can offer you a lot

                h3 
                    | no more ===, better switch, function binding, for-in, for-of
                    | handy literals (@, ->, =>), splats, classes, default arguments, 
                    | destructuring assignment, ranges, ...

            section
                h2 Too much to show
                h3 I'll just pick the most important feature

            section
                h2 Expressions
                h3 it's something worth fighting for

            section 
                h2 Non-expressions are the ugly bits
                code.language-javascript
                    pre.
                        a = 2;
                        if (a === 2) {
                            a + 2;
                        } else if (a < 0) {
                            a + 3;
                        } else {
                            a + 4;
                        }

            section
                h2 CoffeeScript!

            section
                code.language-coffeescript
                    pre.
                        ... = if ... else ...
                        ... = for ...
                        ... = switch ...

            section
                code.language-coffeescript
                    pre.
                        date = if friday then sue else jill

            section
                code.language-coffeescript
                    pre.
                        console.log(a) for a in [1, 2, 3, 4]

            section
                code.language-coffeescript
                    pre.
                        foo = (a + 1 for a in [1, 2, 3, 4])

            section
                h2 &#10003; Preserve JS awsomeness
                h2 &#10003; Fix as much JS issues as possible
                h2 Be "cheap" to use

            section
                h2 It takes a weekend to learn
                h3 or less

            section
                h2 CoffeeScript has flaws

            section
                h2 CoffeeScript's variable scope is different than in JavaScript
                h3 and it isn't good

            section
                h2 CoffeeScript compiles 
                h3 The compilation itself is a problem


            section
                h2 But hey! You know how to compile
                h3 Just add new config section to your Gruntfile

            section
                h2
                    a(href="http://fragphace.pl/blog/2013-08-24-Clean-simple-frontend-setup-for-CoffeeScript")
                        | http://fragphace.pl/blog/2013-08-24-Clean-simple-frontend-setup-for-CoffeeScript

            section
                h2 In IT it's all about trading things

            section
                h2 CoffeeScript!
                h2 &#10003; Preserves JS awsomeness
                h2 &#10003; Fixes as much JS issues as possible
                h2 &#10003; Is "cheap" to use

            section
                h1 Why the fuck you don't CoffeeScript?
                h2 @fragphace

        script(src='bower_components/bespoke.js/dist/bespoke.min.js')
        script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
        script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
        script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
        script(src='bower_components/prism/prism.js')
        script(src='bower_components/prism/components/prism-coffeescript.js')
        script(src='bower_components/prism/components/prism-python.js')
        script(src='scripts/main.js')
