!!! 5
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Why the fuck you don't CoffeeScript?

        //- Check out 'src/bower_components/prism/' for available themes
        link(rel='stylesheet', type='text/css', href='bower_components/prism/prism-twilight.css')
        link(rel='stylesheet', type='text/css', href='styles/main.css')
        link(href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|The+Girl+Next+Door|Lora:400,700,400italic,700italic|Raleway:400,600,900',
            rel='stylesheet', type='text/css')

    body

        article

            section
                h2 Who likes JavaScript?
                h3 Rise your hand, please!

            section
                h1 JavaScript is GREAT
                h2 Runs on browser
                h2 AMAZING features

            section
                h1 Ugly!

            section
                h2 How we can make JS better?
                h3 And preserve what's best of it

            section
                h2 ECMAScript Harmony
                h3 We have to wait for it though

            section
                h2 Get yourself a compiler!
                h3 You'll get new features quicker

            section
                h1 A good compiler should:
                h2 Preserve JS awsomeness
                h2 Fix JS design flaws
                h2 Be "cheap" to use

            section
                h2 CoffeeScript!

            section
                code.language-coffeescript
                    pre.
                        date = if friday then sue else jill

                        # Eat lunch.
                        eat = (what) -> "om nom noming \#{what}"
                        eat food for food in ['toast', 'cheese', 'wine']

                        class Animal
                            constructor: (@name) ->
                            move: (meters) ->
                                alert @name + " moved \#{meters}m."

                        new Animal('dog').move 3

            section
                h2 Don't be scared

            section
                h2 Non-JS confusion

                h3 Why I can't do _____
                h3 Why do I need _____

            section
                h2 "It's just JavaScript"

            section
                h2 &#10003; Preserve JS awsomeness
                h2 Fix JS design flaws
                h2 Be "cheap" to use

            section
                h2 CoffeeScript has much to offer

                h3
                    | better switch, function binding,
                    br
                    | for-in, for-of, handy literals (@, ->, =>),
                    br
                    | splats, classes, default arguments,
                    br
                    | destructuring assignment, ranges

            section
                h2 To many to show
                h3 I'll just pick the most important feature

            section
                h2 Expressions
                h3 it's something worth fighting for


            section
                code.language-javascript
                    pre.
                        a = 2;
                        if (a === 2) {
                            a + 2;
                        } else if (a < 0) {
                            a + 3;
                        } else {
                            a + 4;
                        }

            section
                h2 CoffeeScript!

            section
                code.language-coffeescript
                    pre.
                        date = if friday then sue else jill

            section
                code.language-coffeescript
                    pre.
                        console.log(a) for a in [1, 2, 3, 4]

            section
                h2 Expressions make THE difference
                h3 Make your code shorter and shorter is better

            section
                h2 CoffeeScript has flaws...
                h3 but it's still way better than JS!

            section
                h2 &#10003; Preserve JS awsomeness
                h2 &#10003; Fix JS design flaws
                h2 Be "cheap" to use

            section
                h2 It takes a weekend to learn
                h3 or less

            section
                h2 CoffeeScript compiles
                h3 The compilation itself is a problem

            section
                h2 But hey! You know how to compile
                h3 Just add new config section to your Gruntfile

            section
                h1 CoffeeScript!
                h2 &#10003; Preserves JS awsomeness
                h2 &#10003; Fix JS design flaws
                h2 &#10003; Is "cheap" to use

            section
                h1 Why the fuck you
                    br
                    |  don't CoffeeScript?
                h2 @fragphace

        script(src='bower_components/bespoke.js/dist/bespoke.min.js')
        script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
        script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
        script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
        script(src='bower_components/prism/prism.js')
        script(src='bower_components/prism/components/prism-coffeescript.js')
        script(src='bower_components/prism/components/prism-python.js')
        script(src='scripts/main.js')
