!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Why the fuck you don't CoffeeScript?

    //- Check out 'src/bower_components/prism/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section
        h1 Why the fuck you don't CoffeeScript?

      section
        h2 Who likes JavaScript?

      section
        h2 WHY?

      section
        ul
          li
            h2 It runs EVERYWHERE

          li
            h2 The only language that runs on browser

          li
            h2 It has some AMAZING features

      section
        h2 BUT...

      section
        code.language-javascript
          pre.
            Array.prototype.slice.call(arguments, 0);

      section
        code.language-javascript
          pre.
            {} + {} // NaN

      section
        code.language-javascript
          pre.
            return
            {
              foo: 'bar'
            }

      section
        h2 Javascript is great but has it's issues as well

      section
        h2 So... how we can make JS better and preserve what's best in it?

      section
        h2 It's already happening!

      section
        h2 ECMAScript Harmony
        ul
          li Lexical scoping
          li Default function parameters
          li Modules
          li ...

      section
        h2 We have to wait for it...

      section
        h2 Here's an idea!
        p
          | Let's create a new language that compiles to JavaScript. It must:
        ul
          li Preserve JS awsomeness
          li Fix as much JS issues as possible
          li Be "cheap" to use

      section
        h2 CoffeeScript fits them all!

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
